@model IEnumerable<Money.Views.ViewModel.MoneyViewModel>

@{
    Layout = null;
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.categoryyy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amounttt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remarkkk)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryyy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amounttt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remarkkk)
            </td>
            <td>
                @Html.ActionLink("Edit", "Money", new { id = item.id.ToString() })
                @Html.ActionLink("Delete", "Delete", new { id = item.id.ToString() })
            </td>
        </tr>
    }

</table>
